body {
	background: #fff;
	color: #291202;
}

header {
	background: #333;
	color: #fff;
	padding: 5px 5px 5px 110px;
	overflow: hidden;
}

button {
	position: fixed;
	opacity: 0.9;
	width: 100px;
	top: 5px;
	left: 5px;
}

audio {
    display: none;
}

input {
	float: right;
}

p {
	text-align: center;
	margin-top: 50px;
}

ol {
	list-style-position: inside;
}

ol a:nth-child(odd) {
    background: #eee;
}

ol a {
    display: list-item;
    padding: 5px 10px;
}

a {
    color: inherit;
    text-decoration: none;
}
